
/* Reset margin dan padding agar lebih rapi */
* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

/* Styling untuk body */
body {
    font-family: Arial, sans-serif;

}
.header {
    background-color: #004706;
    color: white;
    text-align: center;
    padding: 10px 0;
}    

.header h1 {
    font-size: 36px;
}

/* Gambar profil */
.profile-img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Bagian tentang kami */
.about {
    margin-bottom: 30px;
}

.about p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}

/* Visi dan Misi */
.vision-mission {
    display: list-item; /* Menyusun elemen secara berdampingan */
    justify-content: space-between; /* Memberi ruang antar kolom */
    gap: 30px; /* Menambahkan jarak antar kolom */
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px
}

.vision-mission h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
}

.vision h3, .mission h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.vision p, .mission ul {
    font-size: 16px;
    line-height: 1.6;
}

.vision-mission ul {
    list-style-type: none;
    padding-left: 0px;
}

.vision-mission li {
    margin-bottom: 10px;
}
/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
    bottom: 0;
}
